extend main_page_wrapper.jade
block title
	|Главная страница
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Контакты
			//-div
				//-img.rightimg( src="../images/1pomosh'2.jpg" alt="фото Семенова-Звенигородская" )
			p.
				Телефоны: (моб. мегафон) +7(931)352 1516<br>
				Skype: <a href="skype:svetaz75?call"> Позвони мне svetaz75</a> <img src="http://ladypython.com/images/smiles/smile2.gif" alt="смайлик" >
			p.
				e-mail: szvenigorodskaya(собака)yandex.ru
			