extend main_page_wrapper.jade
block title
	|LPython. Экстрим.
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Экстрим
			p Иногда мне хочется экстрима, фотоотчеты будут здесь <img src="../images/smiles/smile1.gif" alt="смайлик">.