extend main_page_wrapper.jade
block title
	|Главная страница
block main_information
	article
		section
			h1
				|&nbsp;&nbsp;&nbsp;День рождения сайта Lady 
				span.orange P
				|ython.com!!!
			h2	2016
			p
				|<strong>февраль</strong> - <strong>УТЮМ</strong>, Уральский Турнир Юных Математиков проводится в Кирове. <br>
				|Мы выступаем командой: Олег Смирнов (капитан), Саша Столповский, Леша Кристев, Егор Ельчинов, Игорь Мельников и я <img src="../images/smiles/smile2.gif" alt="смайлик"> <br>
				|Нас ждут командная и личная олимпиады, а еще матбои! Кого то из соперников уже знаем, с кем то будем биться первый раз. <br>
				|Мы поехали в Киров за 1 местом в Высшей Лиге! Фото и впечатления выложу в марте <img src="../images/smiles/smile1.gif" alt="смайлик"> 
				|<br>
			h2	2014
			p
				|День рождения!!! 
				img.smile( src="../images/smiles/smile2.gif" alt="" )
				|Мы с папой постарались сделать сайт технологически правильным! 
				|&nbsp;Мы с папой постарались сделать сайт технологически правильным! 
				img.smile( src="../images/smiles/smile2.gif" alt="" )
				|Вот средства, которые мы использовали:
				|&nbsp;Вот средства, которые мы использовали:
				|для одинакового отображения в разных браузерах применяется 
				a( href = "http://html5reset.org/" ) HTML5Reset v2,
				|так же на моем сайте для проверки орфографии используется 
				a( href = "http://orphus.ru/" ) система Orphus
				img.smile( src="../images/smiles/smile1.gif" alt="" )
				|, выделите область с ошибкой и нажмите Ctrl + Enter.