extend main_page_wrapper.jade
block title
	|Мои интересы
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Интересы
			<br>
			Здесь я буду делиться с вами моими увлечениями. Уверена, что список будет расти. Начнем?! <img src="../images/smiles/smile5.gif" alt="смайлик">
		ol
			li: a(href="#extrem45") Экстрим
			li: a(href="#dance") Танцы
			li: a(href="#mathematic") Математика
			li: a(href="#robotics") Робототехника
			li: a(href="#photo") Фотография и фотошоп
			li: a(href="#proga") Программирование
			li: a(href="#olympiads") Олимпиады
			li: a(href="#art") Творчество
		p.
			<br>
		ol
			li(id="extrem45") <strong>Экстрим</strong>
				ol
					li <strong> Дайвинг </strong>
			a( href = "../images/extrem.jpg" )
				img.leftimg( src="../images/extrem.jpg" width="250" height="250" alt="фото дайвинг" )
			<br>
			В 2012, когда мне было 11, мы с папой решили учиться дайвингу и записались в центр подводного плавания <strong> Абориген </strong> в Санкт-Петербурге. У них была 
			специальная программа для взрослых и детей.<br>
			<br>
			Мы занимались в группе, было много теории, потом практика. Я узнала, что такое плавучесть! <br>
			Пока я погружалась с оборудованием только в бассейне. На море я обожаю нырять в маске и доставать ракушки со дна на задержке дыхания <img src="../images/smiles/smile1.gif" alt="смайлик"> <br>
			<br>
			А еще у нас была возможность пройти курсы по оказанию первой медицинской помощи, это важно для тех, кто любит экстрим. <br>
			<br>
			Фотоотчеты буду выкладывать в разделе
			a( href = "art.html" ) 
				<strong> творчество</strong>. <br>
			<br>
			<br>
			
			li(id="dance") <strong>Танцы</strong>
			a( href = "../images/dance_1.jpg" )
				img.rightimg( src="../images/dance_1.jpg" width="212" height="320" alt="фото с соревнования диско" )
			<br>
			С 3 лет я ходила в театральную студию <strong>Аквариум</strong> и на плавание. <br>
			А с 7 лет серьезно увлеклась современными танцами, направление диско и хип-хоп.<br>
			<br>
			Я занималась в клубе <strong> Драйв </strong> под руководством 
			a( href= "http://vk.com/olgazh") Захаренко Ольги Александровны, 
			а затем 
			a( href= "http://vk.com/id3763604") Хабаровой Татьяны. 
			Спасибо им за мою осанку, чувство музыки и веселое время вместе! <br>
			<br>
			Мой результат - 18 медалей, из которых 7 золотых! <br>
			<br>
			Мне нравилось соревноваться и побеждать, но настал момент сделать выбор между учебой и спортом, и я выбрала математику и робототехнику 
			<img src="../images/smiles/smile9.gif" alt="смайлик"> <br>
			<br>
			Мои воспоминания в фотографиях и достижения вы сможете найти в разделе 
			a( href = "art.html" ) 
				<strong> творчество.</strong> <br>
			<br>
			<br>
			<br>
			li(id="mathematic") <strong>Математика</strong>:
				ol
					li Решение олимпиадных задач
					li Дискретная математика
					li Как учебная дисциплина
			<br>
			<br>
			li(id="robotics") <strong> Робототехника</strong>:
				ol
					li Лего роботы
					li Футбол автономных роботов
					li Программирование робота на Robolab и Lego Mindstorms EV3
			<br>
			Мои дипломы я выложила 
			a( href = "art.html" ) 
				<strong> тут.</strong> 
			Заходите, если интересно <img src="../images/smiles/smile9.gif" <br>			
			<br>
			<br>
			<br>
			li(id="photo") <strong>Фотография и фотошоп</strong>
			Я люблю фотографировать, фотографироваться и обрабатывать фотографии <img src="../images/smiles/smile2.gif" alt="смайлик"> <br>
			Сделаю отдельную страничку своих работ, смотрите раздел 
			a( href = "art.html" ) 
				<strong> творчество.</strong> <br>
			<br>
			<br>			
			li(id="proga") <strong>Программирование:</strong>
				ol
					li Решение олимпиадных задач на Python
						//ol
							li
								a( href = "ostrov/" ) Разбор задачи "Остров"
					li Администрирование и создание сайта
			<br>
			<br>
			li(id="olympiads") <strong>Олимпиады:</strong>
				ol
					li УТЮМ, Киров, февраль 2016
						a( href = "olympiads.html" ) 
							<strong> заметка о турнире</strong> <br>
			<br>
			<br>
			li(id="art") <strong>Творчество</strong>
				<br>Все свои работы я буду выкладывать в разделе
				a( href = "art.html" ) 
					<strong> творчество.</strong> 
				О некоторых оперативно буду писать здесь. <br>
				ol
					li Бусины Пюсла 
					Недавно я вновь открыла для себя детский отдел Икеа, а именно бусины Пюсла. Узор, утюг...и вот результат 
					<img src="../images/smiles/smile5.gif" alt="смайлик"> <br>
					a( href = "../images/businy_ikea.jpg" )
						img.centerimg( src="../images/businy_ikea.jpg"  width="360" height="480" alt="фото работы из бусин Пюсла" )
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			