extend main_page_wrapper.jade
block title
	|Главная страница
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Обо мне
			p
				//-div.nachalo
					//-img.aboutme.leftimg( src="../images/semenovazvenigorodskaya.jpg" alt="фото Семенова-Звенигородская" )
				|Здравствуйте, уважаемый посетитель!
				|Я Семенова-Звенигородская София