extend main_page_wrapper.jade
block title
	|Главная страница
	|Обо мне
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Обо мне
				//-img.leftimg( src="../images/semenovazvenigorodskaya.jpg" alt="фото Семенова-Звенигородская" )
				//a( href = "../images/dance_2.jpg" ) 
					//img.rightimg( src="../images/dance_2.jpg" width="212" height="320" alt="фото с соревнования диско" )
			a( href = "../images/Sofia_web.jpg" )
				img.leftimg( src="../images/Sofia_web_540_360.jpg" width="360" height="540" alt="фото Семенова-Звенигородская" )
			p
				<br>
				|Привет всем! Я очень рада, что вы зашли на мой сайт! <br>
				|<br>
				|Меня зовут <strong>София Семенова-Звенигородская</strong>, в настоящий момент я учусь в Лицее Вторая школа в Москве, и это 3 школа 
				|в моей жизни :) Да, я люблю математику и физику, и еще когда всего 5 девочек в классе - правда наш учитель считает, что это очень много! <br>
				|<br>
				|Я родилась в 2001 году в городе белых ночей и разводных мостов. В 2014 мы с родителями переехали в Москву. И, конечно, меня всегда
				|спрашивают, что круче Москва или Питер?! Почитайте "Поребрик из бордюрного камня" Ольги Лукас, и вы узнаете, что "Питерец любит свой 
				|город, когда он далеко...Невыносимое желание выйти на Невский...Выбежать под дождь - вы знаете, какие в Питере дожди?.. Вы никогда не 
				|поймете, как здорово промокнуть под таким дождем...А ветер?...Что плохо лежит - все унесет!" Да, это и обо мне, и о вечных спорах с 
				|друзьями о Зените и Спартаке, булке и батоне, водолазке и бадлоне <img src="../images/smiles/smile5.gif" alt="смайлик"> <br>
				|<br>
			p
				|Некоторые подумают, что математики скучные, но это не так! Я люблю общаться и учиться новому. <img src="../images/smiles/smile2.gif" alt="смайлик"> <br>
				|<br>
				//a( href = "../images/passport.jpg" )
				//img.rightimg( src="../images/passport.jpg" width="220" height="220" alt="фото паспорт" )
			//p
				//|Немного о программировании...я даже не помню, когда это началось, мы "играли" в программирование с папой, делали сайт, сейчас меня
				//|часто окружают мои друзья программисты, и я езжу в специализированные компьтерные школы! Можно сказать, что я <strong>увлекаюсь
				//|программированием</strong> и просто <strong>обожаю олимпиады</strong> <img src="../images/smiles/smile6.gif" alt="смайлик"> <br>
				//|<br>
			p
				|<strong>О чем этот сайт?</strong> <br>
				|Я хочу здесь делиться с вами своими интересами, презентациями, фотоработами, мыслями, достижениями!<br>
				|Я планирую делать разборы олимпиадных задач по математике и информатике, программировать игры!<br>
			a( href = "../images/passport.jpg" )
				img.rightimg( src="../images/passport.jpg" width="220" height="220" alt="фото паспорт" )
			p
				|Будет здорово, если вы найдете для себя полезное или просто поиграете в Быки и коровы!<br> 
				|<br>
				|Мои интересы
				a( href = "interests.html#extrem45" )
					<strong> экстрим,</strong> 
				a( href = "interests.html#dance" )
					<strong> танцы,</strong>
				a( href = "interests.html#mathematic" )
					<strong> математика,</strong>
				a( href = "interests.html#robotics" )
					<strong> робототехника,</strong>
				a( href = "interests.html#photo" )
					<strong> фотография,</strong>
				a( href = "interests.html#proga" )
					<strong> программирование,</strong>
				a( href = "interests.html#olympiads" )
					<strong> олимпиады,</strong>
				a( href = "art.html" )
					<strong> творчество.</strong> <br>
				|<br>
				|Информацию обо мне в хронологическом порядке можно найти
				a( href = "hronology.html" ) 
					<strong> тут</strong> <img src="../images/smiles/smile9.gif" alt="смайлик"> <br>
				|<br>
			p
				|В 2015 я получила паспорт, теперь совсем взрослая и даже подпись со звездочкой <img src="../images/smiles/smile1.gif" alt="смайлик">
				|А вы знали, что у нас нет строгих правил на использование знаков в подписи?! Сотрудников в МФЦ очень позабавил этот факт! <br>
				|<br>
				|<br>

