extend main_page_wrapper.jade
block title
	|LPython. Олимпиады.
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Олимпиады
			p Здесь я буду делиться впечатлениями от разных олимпиад, матбоев.