extend main_page_wrapper.jade
block title
	|LPython. Олимпиады.
block main_information
	article
		section
			h1 &nbsp;&nbsp;&nbsp;Олимпиады
		a( href = "../images/Urtur 47.jpg" )
			img.leftimg( src="../images/Urtur 47.jpg" width="300" height="400" alt="фото 47 Уральский турнир математиков" )
		p.
			Вот и закончился <strong> 47 турнир юных математиков!</strong> <br>
			Он проходил в Кирове с 19 по 26 февраля 2016 года. <br>
			Мы выступали командой в составе: 
		ol 
			li: a( href= "http://vk.com/kristevalex") Леша Кристев (капитан),
			li: a( href= "http://vk.com/oleg_smirnov_eto_ya") Олег Смирнов (зам.капитана), 
			li: a( href= "http://vk.com/aleks311001") Саша Столповский, 
			li: a( href= "http://vk.com/initialized") Егор Ельчинов, 
			li: a( href= "http://vk.com/igormelnikov98") Игорь Мельников,
			li: a( href= "http://vk.com/s.zvenigorodskaya") Я (София Семенова-Звенигородская).
			Конечно, мы ехали бороться за 1 место. Перед показательным боем для нашей команды с командой Ульяновска настроение у всех было разное.
			Как сказал Олег: "Я подозревал, что мы сольем, и это не стало для меня сюрпризом..." <br>
			<br>
			В турнире приняли участие 86 команд из разных городов (рекордное число для УТЮМа). Мы вышли в высшую лигу, но заняли только 5 место.
			И хоть результаты с каждым разом и не улучшаются, но атмосфера точно стала ламповее. Мне очень приятно вспоминать
			наши споры, интересные матбои, кормление уточек и Контакт на английском! <br>
			<br>
			Да, это был последний Уральский турнир, но, я надеюсь, не последняя наша поездка, и мы еще выступим нашей командой 
			на турнире Колмагорова! <img src="../images/smiles/smile5.gif" alt="смайлик"> <br>
			<br>
			<br>
			
